body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 300px;
}
.m-1{
    margin: 2px !important;
} 
.m-2 {
    margin: 4px !important;
}
.flex{
    display: flex !important;
    align-items: center;
    flex-direction: row;
    /*border: 2px solid red;*/
    width: 100%;
}
.flex-justify-center{
    justify-content: center;
}
.flex-justify-between{
    justify-content: space-between;
}
.flex-justify-around{
    justify-content: space-around;
}